[Desktop Entry]
Name=ISO Master
GenericName=ISO File Editor
GenericName[ca]=Editor de fitxers ISO
GenericName[de]=ISO-Datei-Editor
GenericName[es]=Editor de ficheros ISO
GenericName[fr]=Éditeur de fichiers ISO
GenericName[it]=Editor di file ISO
GenericName[ja]=ISO ファイルエディタ
GenericName[ko]=ISO 파일 편집기
GenericName[nl]=ISO-bestandseditor
GenericName[pl]=Edytor plików ISO
GenericName[pt]=Editor de ficheiros ISO
GenericName[ru]=Редактор файлов ISO
GenericName[sv]=ISO-filredigerare
GenericName[zh_CN]=ISO 文件编辑器
GenericName[zh_TW]=ISO 檔案編輯器
Comment=Read, write and modify ISO images
Comment[ca]=Llegiu, escriviu i modifiqueu imatges ISO
Comment[de]=ISO-Images lesen, schreiben und ändern
Comment[es]=Leer, escribir i modificar imagenes ISO
Comment[fr]=Lire, écrire et modifier des images ISO
Comment[it]=Leggi, scrivi e modifica immagini ISO
Comment[ja]=ISO イメージの読み取り、書き込み、変更
Comment[ko]=ISO 이미지 읽기, 쓰기, 수정
Comment[nl]=ISO-afbeeldingen lezen, schrijven en bewerken
Comment[pl]=Odczyt, zapis i modyfikacja obrazów ISO
Comment[pt]=Ler, escrever e modificar imagens ISO
Comment[ru]=Чтение, запись и изменение образов ISO
Comment[sv]=Läs, skriv och modifiera ISO-avbilder
Comment[zh_CN]=读取、写入和修改 ISO 镜像
Comment[zh_TW]=讀取、寫入和修改 ISO 映像
Exec=isomaster
Terminal=false
StartupNotify=true
Type=Application
Categories=AudioVideo;DiscBurning;
MimeType=application/x-iso;
Icon=isomaster
